*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.header{
    width: 100vw;
    height: 73px;
    padding: 7px;
    text-align: center;

}

.header h1{
    font-size: 5rem;
    font-weight: 200;
}

.main-imagenPrincipal{
    width: 100vw;
    height: 727px;
    background-image:url(./assets/bg-header.jpg) ;
}

.descripcion-iguanas{
    width: 100vw;
    height: 348px;
    padding: 45px 0px 66px 0px;
    display: flex;
    justify-content: center;

}

.descripcion-iguanas div{
    width: 399px;
    height: 237px;
    display: inline-block;
    margin-left: 106px;
}

.descripcion-iguanas .main-descripcion{
    padding-top: 30px;
    font-size: 1.6rem;
}

.descripcion-iguanas .imagenDescripcion{
    background-image: url(./assets/iguana-1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.caracteristicas{
    width: 100vw;
    height: 348px;
    background-color: #1E1A13;
    padding-top: 74px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caracteristicas h2{
   font-size: 4rem;
   font-weight: 200;
   margin-bottom: 50px;
}


.caracteristicas .items-caracteristicas{
    width: 100vw;
    height: 226px;
    padding-bottom: 74px;
    text-align: center;
}

.items-caracteristicas div{
    display: inline-block;
    font-size: 3rem;
    font-weight: 200;
}

.items-caracteristicas .cont2{
    margin-left: 200px;
}
.items-caracteristicas .cont3{
    margin-left: 200px;
}

.items-caracteristicas .icono{
    margin-bottom: 16px; 
}

.items-caracteristicas .ojo{
    display: inline-block;
    width: 57px;
    height: 40px;
    background-image: url(./assets/ojos.png);
}

.items-caracteristicas .mano{
    display: inline-block;
    width: 42px;
    height: 40px;
    background-image: url(./assets/dedos.png);
}

.items-caracteristicas .pincel{
    display: inline-block;
    width: 34px;
    height: 37px;
    background-image: url(./assets/ìncel.png);
}    
.galeria-iguanas{
    width: 100vw;
    height: 348px;
    display: flex;
    justify-content: center;
    padding: 73px;
}

.galeria-iguanas div{
    width: 316px;
    height: 202px;
    margin-left: 16px;
    background-color: blanchedalmond;
}

.galeria-iguanas .marco1{
    background-image: url(./assets/iguana-2.jpg);
}

.galeria-iguanas .marco2{
    background-image: url(./assets/iguana-3.jpg);
}

.galeria-iguanas .marco3{
    background-image: url(./assets/iguana-4.jpg);
}

.ojo, .mano, .pincel, .marco1, .marco2, .marco3{
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
} 

.piedepagina{
    width: 100vw;
    height: 102px;
    background-color: #1E1A13;
    padding: 39px 299px;
}

.piedepagina .footer-tex{
    font-size: 2rem;
    font-weight: 100;
}

.footer-tex a{
    color: white;
    text-decoration: none;
}